@charset "utf-8";

body {
    background-color: #322e2f;
}

.img_div {
    margin-top: 120px;
}

.img_style {
    margin: 0 auto;
    width: 75%;
    display: block;
}

.div_name {
    font-size: 60px;
    text-align: center;
    margin-top: 40px;
    color: aliceblue;
    font-family: Serif, sans-serif;
}

.div_year {
    font-size: 60px;
    text-align: center;
    margin-top: 40px;
    color: red;
    font-family: Serif, sans-serif;
}

.div_word {
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    color: aliceblue;
    font-family: Impact, serif;
}